.receitas {
    background-color: var(--cinza-escuro);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem 0 0 5rem;
}

.receita {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    min-width: min-content;
    width: calc(25% - 5rem);
}

.receita__imagem {
    height: 200px;
}

.receita__conteudo {
    margin: 1rem;
}

.receita__titulo{
    font-size: 1.4375rem;
}

.receita__descricao{
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.receita__botao {
    background-color: var(--cor-vinho);
    border: none;
    border-radius: 5px;
    color: var(--branco);
    padding: 1rem;
    transition: all .1s ease-in-out;
}
.receita__botao:hover {
    cursor: pointer;
    background-color: var(--vinho-escuro);
}
